.customNav { 
    background-color: #444444;
    padding:20px 10px;
}

.customNav a { 
    color:white !important;
}

.navbar-nav { 
    margin-left:auto;
    margin-right:0 !important;
}

.heroBackground { 
    background-image: url(../images/coverphoto-app.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;;
    display:flex;
    justify-content:center;
}


.heroBackground2 { 
    background-image: url(../images/cover-notifications.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;;
    display:flex;
    justify-content:center;
}


.heroContent h1 {
    color:white;
    text-align: center;
    font-size: 48px;


}


.contentSection {
   padding-top:100px;
   padding-bottom: 100px; 

} 

.heading {
    color: #1F6894;
    margin-bottom:40px;
}


.sectionHeading { 
    background-color:#1F6894;
    text-align: center; 
    color:white;
    padding:50px 0;
    font-weight:400; 
    font-size: 50px;
}

.timelineimg {
    width:100%
}
